
@{
    Layout = null;
}

<form>
    <fieldset>
        <legend>
            Create Quotation
        </legend>
        <div class="fieldConteiner">
            <div class="leftFieldSet">
                <label>Date of Wedding</label>
                <div class="input-control text datepicker" data-role="datepicker">
                    <input type="text" placeholder="type wedding date" />
                    <button class="btn-date" tabindex="-1" type="button"></button>
                </div>
                <label>Name of Bride</label>
                <div class="input-control text" data-role="input-control">
                    <input type="text" placeholder="type bride's name" />
                </div>
                <label>Address</label>
                <div class="input-control text" data-role="input-control">
                    <input type="text" placeholder="type address" />
                </div>
                <label>E Mail</label>
                <div class="input-control email" data-role="input-control">
                    <input type="email" placeholder="type email" />
                </div>
                <label>Contact No</label>
                <div class="input-control tel" data-role="input-control">
                    <input type="tel" placeholder="type contact no" />
                </div>
            </div>
            <div class="rightFieldSet">
                <label>Date of Homecoming</label>
                <div class="input-control text datepicker" data-role="datepicker">
                    <input type="text" placeholder="type homecoming date" />
                    <button class="btn-date" tabindex="-1" type="button"></button>
                </div>
                <label>Name of Groom</label>
                <div class="input-control text" data-role="input-control">
                    <input type="text" placeholder="type groom's name" />
                </div>
                <label>Address</label>
                <div class="input-control text" data-role="input-control">
                    <input type="text" placeholder="type address" />
                </div>
                <label>Contact No</label>
                <div class="input-control tel" data-role="input-control">
                    <input type="tel" placeholder="type contact no" />
                </div>
            </div>
        </div>
    </fieldset>
</form>

<br />

<h3>Charges for Dressing</h3>

<br />

<table class="table bordered">
    
    <tbody class="striped hovered">
        <tr>
            <td>Wedding</td>
            <td>Kandiyan</td>
            <td></td>
            <td style="text-align:right">65000.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick"/>
                <input type="checkbox" class="checkItem"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kandiyan Set</td>
            <td></td>
            <td style="text-align:right">5000.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Indian</td>
            <td></td>
            <td style="text-align:right">40000.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Western</td>
            <td></td>
            <td style="text-align:right">35000.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Bouquets</td>
            <td></td>
            <td style="text-align:right">10000 Upwards</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Dress Making</td>
            <td>Kandian</td>
            <td style="text-align:right">7500.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Indian</td>
            <td style="text-align:right">4500.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Western</td>
            <td style="text-align:right">10000 Upwards</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td>Home Coming</td>
            <td>Kandiyan</td>
            <td></td>
            <td style="text-align:right">35000.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kandiyan Set</td>
            <td></td>
            <td style="text-align:right">5000.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Indian</td>
            <td></td>
            <td style="text-align:right">27600.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Western</td>
            <td></td>
            <td style="text-align:right">22000.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Bouquets</td>
            <td></td>
            <td style="text-align:right">8500 Upwards</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Dress Making</td>
            <td>Kandian</td>
            <td style="text-align:right">6500.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Indian</td>
            <td style="text-align:right">4500.00</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Western</td>
            <td style="text-align:right">10000 Upwards</td>
            <td style="text-align:center">
                <img src="~/Images/ControlImages/tick-Ash.png" class="triggerRadioTick" />
                <input type="checkbox" class="checkItem" />
            </td>
        </tr>
    </tbody>

</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('.datepicker').datepicker();

        $('.triggerRadioTick').bind('click tap', function () {
            $(this).siblings('.checkItem').click();
        });

        $('.checkItem').bind('change', function () {
            
            if ($(this).is(':checked')) {
                $(this).siblings('.triggerRadioTick').attr('src', '/Images/ControlImages/tick-Green.png');
            }
            else {
                $(this).siblings('.triggerRadioTick').attr('src', '/Images/ControlImages/tick-Ash.png');
            }

        });

    });

</script>

<style type="text/css">
    div.fieldConteiner:after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .fieldConteiner {
        position: relative;
        width: 100%;
    }

        .fieldConteiner .leftFieldSet {
            position: relative;
            width: 325px;
            float: left;
        }

        .fieldConteiner .rightFieldSet {
            position: relative;
            width: 325px;
            float: right;
        }

    .checkItem {
        display: none;
    }

    .triggerRadioTick{
        cursor:pointer;
        width:19px;
        height:auto;
    }
</style>

