
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<nav class="navigation-bar white border fixed-top">
    <div class="navigation-bar-content">
        <a href="javascript:return false;" class="element LogoHolder">
            <img src="~/Images/name.png" />
        </a>
        <span class="element-divider"></span>
        <ul class="element-menu">
            <li>
                <a class="dropdown-toggle" href="javascript:return false;">
                    Quotation
                </a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li>
                        <a href="javascript:GetContent('/Quotation/CreateQuotation', '.mainContent');">
                            Create Quotation
                        </a>
                    </li>
                    <li>
                        <a href="javascript:GetContent('/Quotation/QuotationList', '.mainContent');">
                            Quotation List
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="element-menu">
            <li>
                <a class="dropdown-toggle" href="javascript:return false;">
                    User
                </a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li>
                        <a href="javascript:GetContent('/User/CreateUser', '.mainContent');">
                            Create User
                        </a>
                    </li>
                    <li>
                        <a href="javascript:GetContent('/User/UserList', '.mainContent');">
                            Users List
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="element-menu">
            <li>
                <a class="dropdown-toggle" href="javascript:return false;">
                    Receipt
                </a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li>
                        <a href="javascript:GetContent('/Receipt/ReceiptList', '.mainContent');">
                            Receipt List
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="element-menu">
            <li>
                <a class="dropdown-toggle" href="javascript:return false;">
                    Workers
                </a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li>
                        <a href="javascript:GetContent('/Worker/Index', '.mainContent');">
                            Workers List
                        </a>
                    </li>
                    <li>
                        <a href="javascript:GetContent('/Worker/CreateWorker', '.mainContent');">
                            Create Worker
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="element-menu">
            <li>
                <a class="dropdown-toggle" href="javascript:return false;">
                    Appointments
                </a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li>
                        <a href="javascript:GetContent('/Appointment/Index', '.mainContent');">
                            Appointment List
                        </a>
                    </li>
                    <li>
                        <a href="javascript:GetContent('/Worker/CreateWorker', '.mainContent');">
                            Create Appoinment
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div id="GeneralProgressVisualizer">
    <div class="customizedProgressBarHolder" id="GeneralProgressBar">
        <div class="customizedProgressBar">
        </div>
    </div>
    <div class="ProgressOverlay">

    </div>
</div>


@RenderBody()


<script type="text/javascript">

    function GetContent(url, element) {
        //$('#GeneralProgressVisualizer').show();

        $.ajax({
            url: url,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $(element).html(data);
               // $('#GeneralProgressVisualizer').fadeOut();
            },
            error: function () {

            }
        });

        //setTimeout(function () {
        //    $('#GeneralProgressVisualizer').fadeOut();
        //}, 2000);
    }

    $(document).ajaxStart(function () {
        $('#GeneralProgressVisualizer').show();
    }).ajaxStop(function (data) {
        
        $('#GeneralProgressVisualizer').fadeOut();
    }).ajaxComplete(function (event, xhr, settings) {
       
        $('#GeneralProgressVisualizer').fadeOut();
    });

</script>

<style type="text/css">

    .LogoHolder{
        padding:0 15px !important;
    }

    .LogoHolder img{
        height:45px;
    }

    
</style>