<!DOCTYPE html>

<html>
<head>
    <link href="~/css/iconFont.min.css" rel="stylesheet" />
    <link href="~/css/metro-bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/js/metro.min.js"></script>
    <script src="~/js/metro/metro-datepicker.js"></script>
    <script src="~/js/metro/metro-calendar.js"></script>
    <link href="~/css/SiteStyles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style type="text/css">
    body {
        background: url('../../Images/w1.jpg') no-repeat bottom center fixed;
    }
</style>

</head>
<body class="metro">
    @RenderBody()
</body>
</html>
