
@{
    ViewBag.Title = "Login To Manali System";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="LoginBox" class="loginbox">
    <div class="example" style="margin-bottom:0px">
        <div class="loginboxlogo">
            <img src="~/Images/name.png" />
        </div>
        <form>
            <fieldset>
                <legend>
                    Login Here
                </legend>
                <label>Username</label>
                <div class="input-control text" data-role="input-control">
                    <input type="text" placeholder="type username" id="txtUserName"/>
                    <button class="btn-clear" tabindex="-1" type="button"></button>
                </div>
                <label>Password</label>
                <div class="input-control password" data-role="input-control">
                    <input type="password" placeholder="type password" id="txtPassword"/>
                    <button class="btn-clear" tabindex="-1" type="button"></button>
                </div>
            </fieldset>
            <br />
            <button class="button large success" type="button" id="LoginButton">Login</button>
            <span class="error loginError" id="LoginError" style="display:none">
            </span>

        </form>
    </div>
    <div class="customizedProgressBarHolder" id="loginProgressBar">
        <div class="customizedProgressBar">
        </div>
    </div>
</div>
    

    
    <script type="text/javascript">

        $(document).ready(function () {

            setLoginBoxPosition();

            $(window).bind('resize', function () {
                setLoginBoxPosition();
            });

            $('#LoginButton').bind('click tap', function () {
                $('#loginProgressBar').fadeIn();

                $.ajax({

                    url: '/Login/LoginUser',
                    type: 'POST',
                    data: JSON.stringify({
                        Username: $('#txtUserName').val(),
                        Password: $('#txtPassword').val()
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.Status == 1) {
                            window.location.replace("/Home/");
                            $('#loginProgressBar').fadeOut();
                        }
                        else if (data.Status == 0) {
                            $('#LoginError').show();
                            $('#LoginError').html(data.Message);
                            $('#loginProgressBar').fadeOut();

                            setTimeout(function () {
                                $('#LoginError').fadeOut();
                            }, 1500);
                        }
                        
                    },
                    error: function () {

                        $('#LoginError').show();
                        $('#LoginError').html('Error occured while proccessing. Please try again.');
                        $('#loginProgressBar').fadeOut();

                        setTimeout(function () {
                            $('#LoginError').fadeOut();
                        }, 1500);
                    }
                });

                //setTimeout(function () {
                //    window.location.replace("/Home/");
                //    $('#loginProgressBar').fadeOut();

                //}, 1500);


            });

        });

        function setLoginBoxPosition() {
            var viewPortHeight = window.innerHeight;
            var loginBoxHeigt = $('#LoginBox').outerHeight();

            var topValue = (viewPortHeight - loginBoxHeigt) / 2;

            $('#LoginBox').css('top', topValue);
        }



    </script>

