
@{
    Layout = null;
}

<h3>User List</h3>

<div class="listview-outlook">
    <a href="javascript:return false;" class="list">
        <div class="list-content">
            <h5>Champi Siriwardhana</h5>
            <span>Administrator</span>
        </div>
    </a>
    <a href="javascript:return false;" class="list">
        <div class="list-content">
            <h5>Champi Siriwardhana</h5>
            <span>Administrator</span>
        </div>
    </a>
    <a href="javascript:return false;" class="list">
        <div class="list-content">
            <h5>Champi Siriwardhana</h5>
            <span>Administrator</span>
        </div>
    </a>
    <a href="javascript:return false;" class="list">
        <div class="list-content">
            <h5>Champi Siriwardhana</h5>
            <span>Administrator</span>
        </div>
    </a>
    <a href="javascript:return false;" class="list">
        <div class="list-content">
            <h5>Champi Siriwardhana</h5>
            <span>Administrator</span>
        </div>
    </a>
    <a href="javascript:return false;" class="list">
        <div class="list-content">
            <h5>Champi Siriwardhana</h5>
            <span>Administrator</span>
        </div>
    </a>
    <a href="javascript:return false;" class="list">
        <div class="list-content">
            <h5>Champi Siriwardhana</h5>
            <span>Administrator</span>
        </div>
    </a>
</div>

<script src="~/js/metro/metro-listview.js"></script>